name: 'Publish FiatChamp'

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Addon Version'     
        required: true
        default: '0.1.0'
      dockerfile:
        description: 'Location of the dockerfile'     
        required: true
        default: 'FiatChamp-edge/Dockerfile'

run-name: ${{ inputs.version }} based on ${{ inputs.dockerfile }}

env:
  IMAGE_NAME: fiatchamp_hassaddon

jobs:
  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
  push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - arch: 'amd64'
            base_tag: '6.0-bullseye-slim'
          - arch: 'armhf'
            base_tag: '6.0-bullseye-slim-arm32v7'
          - arch: 'armv7'
            base_tag: '6.0-bullseye-slim-arm32v7'
          - arch: 'aarch64'
            base_tag: '6.0-bullseye-slim-arm64v8'
    steps:
      - uses: actions/checkout@v2

      - name: Build image
        run: docker build . --file ${{ github.event.inputs.dockerfile }} --tag ${{ env.IMAGE_NAME }}_${{ matrix.arch }} --build-arg BASE_TAG=${{ matrix.base_tag }}

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image
        run: |
          IMAGE_ID=cyberdns/${{ env.IMAGE_NAME }}_${{ matrix.arch }}

          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          
          VERSION=${{ github.event.inputs.version }}
          
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker tag ${{ env.IMAGE_NAME }}_${{ matrix.arch }} $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
